* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    cursor: default;
}

.cursor-heart {
            position: fixed;
            top: 0;
            left: 0;
            font-size: 12px; /* Minik boyut */
            color: #e53935; /* Çok cırtlak olmayan, tok bir kırmızı */
            pointer-events: none; /* ÖNEMLİ: Tıklamaları engellememesi için */
            user-select: none;
            z-index: 9999; /* Her şeyin üstünde */
            opacity: 1;
            /* Performans için donanım hızlandırmayı açıyoruz */
            will-change: transform, opacity; 
        }

        /* Düşme ve dönme animasyonu */
        @keyframes heart-drop {
            0% {
                transform: translate(0, 0) rotate(0deg);
                opacity: 0.9;
            }
            100% {
                /* Aşağı (Y ekseni) ve rastgele yana (X ekseni JS ile verilecek) */
                transform: translate(var(--tx), 60px) rotate(var(--rot)); 
                opacity: 0;
            }
        }


body button {
    cursor: pointer;
}

body p {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: rgb(212, 7, 7);
}

.container {
    max-width: 78%;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 25px;
}
.header-ust {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.header-logo {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.header-mobil-logo-div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-mobil-logo {
    width: 50px;
    cursor: pointer;
    height: auto;
    display: none;
}

.mobil-menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    font-weight: bold;
    display: none;
}

.magzalarimiz-button {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.763);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 5px;
}

.magzalarimiz-button div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.magzalarimiz-button span {
    font-size: 12px;
    white-space: nowrap;
}

.magzalarimiz-button i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon-buttons {
    display: flex;
    gap: 15px;
}

.header-icon-button {
    border: none;
    background: white;
    color: black;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.header-icon-button i {
    font-size: 18px;
}

.header-icon-button:hover {
    background-color: rgb(197, 197, 197);
}

.header-input {
    width: 100%;
    position: relative;
}

.header-input input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 40px;
}

.header-input button {
    background: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    z-index: 100;
}


.header-input button:hover {
    background-color: rgb(215, 215, 215);
}

.header-alt {
    display: flex;  
    gap: 30px;
    align-items: center;
    position: relative;
}

.menu-button {
    background: white;
    border: none;
    color:black;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
}

.header-navlar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-nav a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-arasi-cizgi {
    background: rgba(255, 255, 255, 0.627);
    width: 2px;
    height: 20px;
}

.header-nav-angle-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
}

.header-mobil-logo-div {
    display: none;

}


main {
    padding: 30px 0;
    margin: 0px 25px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mini-carts {
    display: flex;
    gap: 15px;
    width: 100%;
    
}

.mini-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 15px;
}

.mini-cart:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.mini-cart p {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.mini-cart img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.mini-cart-two {
    display: flex;
    width: 100%;
}





.mobil-header-input {
    display: none;
}


.aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 350px;
    background-color: white;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.aside.active {
    transform: translateX(0);
}

.aside-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(176, 176, 176, 0.329);
    padding: 10px;
    padding-bottom: 30px;
}

.aside-close-button {
    background: none;
    border: none ;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.aside-close-button:hover {
    background: rgba(181, 181, 181, 0.365);
}

.aside-logo {
    width: 140px;
    height: auto;
}

.aside-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px solid rgba(176, 176, 176, 0.329);
    padding-bottom: 30px;
    position: relative;
}

.aside-body h2 {
    margin-top: 20px !important;
    margin: 0;
    font-size: 16px;
    color: rgb(161, 161, 161);
    font-weight: bold;
}

.aside-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-link a {
    text-decoration: none;
    color: rgb(135, 135, 135);
    font-size: 14px;
}

.aside-link a:hover {
    text-decoration: underline;
}

.aside-link {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    transition: all 0.3s ease-in-out;
}

.aside-link:hover {
    background-color: rgba(200, 200, 200, 0.419);
}

.aside-gizli-kutu {
    border-radius: 0 20px 20px 0;
    z-index: 1000;
    position: absolute;
    background-color: white;
    top: -5%;
    left: 100%;
    width: 750px;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.aside-link-telefon:hover .aside-gizli-kutu-telefon {
    opacity: 1;
    visibility: visible;
    
}

.aside-gizli-kutu-header {
    display: block;
    width: 100%;
}

.aside-gizli-kutu-header h2 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    color: black;
}

.aside-gizli-kutu-body {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.aside-gizli-kutu-body a {
    white-space: nowrap;
}

.aside-gizli-kutu-body h2 {
    white-space: nowrap;
}

.aside-gizli-kutu-body div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aside-gizli-kutu-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-gizli-kutu-body ul h2 {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.aside-gizli-kutu-body li {
    padding-left: 10px;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
    display: none;
}

.blur.active {
    display: block;
}

.urunler-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.urunler-baslik {
    font-size: 20px;
}

.urunler-buttons {
    display: flex;
    gap: 10px;
}

.urunler-buttons button {
    border: none;
    display: flex;
    padding: 10px 12px;
    border-radius: 5px;
    background: black;
    color: white;
}

.urunler-buttons button:hover {
    background: rgb(45, 45, 45);
}

.urunler-main {
    width: 100%;
    overflow: hidden; 
    position: relative;
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}


.urun-cart {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 10px;
    background: none;
    border-radius: 10px;
    border: 1px solid rgb(188, 188, 188);
    display: flex;
    gap: 50px;
    flex-direction: column;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.urun-cart-detay {
    text-decoration: none;
}

.urun-ekdestek {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    color: black;
    background: none;
    border: 1px solid rgb(255, 196, 0);
}

.urun-cart-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.urun-cart-header img {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.urun-cart-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.urun-cart-main a {
    white-space: nowrap;
    font-size: 12px;
    color: black;
}

.urun-cart-main a:hover {
    text-decoration: none;
}

.urun-fiyat {
    font-weight: bold;
    font-size: 20px;
}

.yildizlar {
    color: rgb(212, 4, 4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    font-size: 14px;
}


.yildizlar span {
    color: black;
}

.urun-cart-yazi {
    cursor: pointer;
    margin: 0;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiper-button-disabled {
    background: white !important;
    color: black !important;
    border: 1px solid black !important;
}

.big-carts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.big-carts-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    display: none;
}

.big-carts-main {
    display: flex;
    gap: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.big-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid rgb(171, 171, 171);
    box-sizing: border-box;
    height: 100%;
    cursor: pointer;
}

#big-cart-pagination {
    display: none;
}

.swiper-slide {
    height: auto; /* Swiper zaten flex yapar, auto diyerek esnemesine izin veriyoruz */
    display: flex; /* İçindeki .big-cart'ın yüksekligini %100 yapabilmesi için */
}

.big-cart img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.big-cart-document {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    flex: 1;
}

.big-cart-button-div {
    display: flex;
    justify-content: end;
}

.big-cart-button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    background: none;
}

.big-cart-button:hover {
    background: rgba(198, 198, 198, 0.535);
}

.big-cart-document h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.big-carts-header button {
    border: none;
    display: flex;
    padding: 10px 12px;
    border-radius: 5px;
    background: black;
    color: white;
}

.big-carts-header button:hover {
    background: rgb(45, 45, 45);
}


.hizmetlerimiz {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hizmetlerimiz-header {
    display: block;
}

.hizmetlerimiz-header h2 {
    margin: 0;
    font-size: 24px;
    color: rgb(174, 2, 2);
}

.hizmetlerimiz-main {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hizmetlerimiz-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 30px 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hizmetlerimiz-cart:hover {
        box-shadow: 0 0 5px rgba(128, 128, 128, 0.735);
}

.hizmetlerimiz-two-cart {
    display: flex;
    gap: 20px;
    width: 100%;
}

.hizmetlerimiz-cart p {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 16px;
    text-align: center;
}

.hizmetlerimiz-cart i {
    font-size: 36px;
    color: rgb(174, 2, 2);
}

.container-ziyaret {
    max-width: 40%;
    margin: auto;
}

.ziyaret-cart {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ziyaret-cart i {
    color: rgb(197, 1, 1);
    font-size: 26px;
}

.ziyaret-cart h2 {
    margin: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.ziyaret-cart p {
    font-family: Arial, Helvetica, sans-serif;
}

.ziyaret-cart button {
    display: flex;
    justify-content: center;
    width: 100%;     
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
}

.ziyaret-cart-siyah {
    border: none;
    color: white;
    background: black;
}

.ziyaret-cart-beyaz {
    border-radius: 10px;
    background: none;
    border: 1px solid black;
}

.footer-bottom {
    background: rgb(72, 72, 72);
}

.footer-bottom-üst {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 0 !important;
}

.footer-bottom-üst button {
    border-color: white !important;
    color: white !important;
    padding: 10px;
}

.footer-bottom-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.footer-bottom-main p {
    color: white;
}

.footer-bottom-main img {
    width: 50px;
}

footer {
    background: rgb(197, 197, 197);
}

.footer {
    padding: 20px;
}

.footer a {
    color: black;
}

.footer-img {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.footer-img img {
    height: 80px;
}

.footer-iletisim {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.footer-iletisim h2 {
    margin: 0;
}

.footer-iletisim-cart {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-iletisim i {
    font-size: 22px;
    cursor: pointer;
}

.footer-iletisim-cart p {
    font-size: 16px;
}

.footer-iletisim-cart a {
    font-size: 12px;
    white-space: nowrap;
}

.footer-iletisim-cart a:hover {
    text-decoration: none;
}

.footer-media {
    display: flex;
    gap: 10px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
}

.footer-column h2 {
    margin: 0;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-column a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: flex;
}

.footer-column a:hover {
    text-decoration: underline;

}

.footer-üst {
    margin-top: 30px;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}


.footer-alt {
    display: block;
    margin-bottom: 30px;
}

.footer-odeme {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-odeme div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-odeme div img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.iletisim-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.iletisim-button:hover {
    color: black;
    border: 1px solid black;
    background: white;
}


@media (max-width: 1700px) {
    .header-navlar a {
        font-size: 14px;
    }
}

@media (max-width: 1350px) {
    .header-nav {
        gap: 10px;
    }
    .header-navlar a {
        font-size: 12px;
        font-weight: bold;
    }
}

@media (max-width: 1200px) {
    .aside-gizli-kutu {
        display: none;
    }
    .header-alt {
        display: none;
    }
    .magzalarimiz-button {
        display: none;
    }
    .mobil-menu-button {
        display: block;
    }

    .hizmetlerimiz-two-cart {
        flex-direction: column;
    }

    .header-ust {
        gap: 30px;
    }

    .mini-cart p {
        font-size: 12px;
    }
    .container-ziyaret {
        max-width: 80%;
    }
    .footer-üst {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 1499px) {
    .big-carts-header {
        display: flex;
    }
}


@media (max-width: 768px) {
    .aside {
        max-width: 100%;
        padding-right: 20px;
    }
    .aside-header {
        padding-right: 50px;
    }

    .container {
        max-width: 95%;
        margin: auto;
    }

    .header-input {
        display: none;
    }
    .header-ust {
        justify-content: space-between;
    }
    .mobil-header-input {
        display: block;
        width: 90%;
        margin: auto;
    }
    .header-logo {
        display: none;
    }
    .header-mobil-logo {
        display: block;
    }
    .header-mobil-logo-div {
        display: flex;
    }
    .mini-carts {
        flex-direction: column;
        gap: 20px;
    }
    .mini-cart-two {
        margin: auto;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .hizmetlerimiz-two-cart {
        flex-direction: row;
    }
    .hizmetlerimiz-main {
        flex-direction: column;
    }
}
