* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    cursor: default;
}

.main {
    width: 100%;
}


body button {
    cursor: pointer;
}

body p {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: rgb(212, 7, 7);
}

.container {
    max-width: 78%;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 25px;
}
.header-ust {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.header-logo {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.header-mobil-logo-div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-mobil-logo {
    width: 50px;
    cursor: pointer;
    height: auto;
    display: none;
}

.mobil-menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    font-weight: bold;
    display: none;
}

.magzalarimiz-button {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.763);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 5px;
}

.magzalarimiz-button div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.magzalarimiz-button span {
    font-size: 12px;
    white-space: nowrap;
}

.magzalarimiz-button i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon-buttons {
    display: flex;
    gap: 15px;
}

.header-icon-button {
    border: none;
    background: white;
    color: black;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.header-icon-button i {
    font-size: 18px;
}

.header-icon-button:hover {
    background-color: rgb(197, 197, 197);
}

.header-input {
    width: 100%;
    position: relative;
}

.header-input input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 40px;
}

.header-input button {
    background: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    z-index: 100;
}


.header-input button:hover {
    background-color: rgb(215, 215, 215);
}

.header-alt {
    display: flex;  
    gap: 30px;
    align-items: center;
    position: relative;
}

.menu-button {
    background: white;
    border: none;
    color:black;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
}

.header-navlar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-nav a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-arasi-cizgi {
    background: rgba(255, 255, 255, 0.627);
    width: 2px;
    height: 20px;
}

.header-nav-angle-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
}

.header-mobil-logo-div {
    display: none;

}


.mobil-header-input {
    display: none;
}


.aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 350px;
    background-color: white;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.aside.active {
    transform: translateX(0);
}

.aside-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(176, 176, 176, 0.329);
    padding: 10px;
    padding-bottom: 30px;
}

.aside-close-button {
    background: none;
    border: none ;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.aside-close-button:hover {
    background: rgba(181, 181, 181, 0.365);
}

.aside-logo {
    width: 140px;
    height: auto;
}

.aside-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px solid rgba(176, 176, 176, 0.329);
    padding-bottom: 30px;
    position: relative;
}

.aside-body h2 {
    margin-top: 20px !important;
    margin: 0;
    font-size: 16px;
    color: rgb(161, 161, 161);
    font-weight: bold;
}

.aside-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-link a {
    text-decoration: none;
    color: rgb(135, 135, 135);
    font-size: 14px;
}

.aside-link a:hover {
    text-decoration: underline;
}

.aside-link {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    transition: all 0.3s ease-in-out;
}

.aside-link:hover {
    background-color: rgba(200, 200, 200, 0.419);
}

.aside-gizli-kutu {
    border-radius: 0 20px 20px 0;
    z-index: 1000;
    position: absolute;
    background-color: white;
    top: -5%;
    left: 100%;
    width: 750px;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.aside-link-telefon:hover .aside-gizli-kutu-telefon {
    opacity: 1;
    visibility: visible;
    
}

.aside-gizli-kutu-header {
    display: block;
    width: 100%;
}

.aside-gizli-kutu-header h2 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    color: black;
}

.aside-gizli-kutu-body {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.aside-gizli-kutu-body a {
    white-space: nowrap;
}

.aside-gizli-kutu-body h2 {
    white-space: nowrap;
}

.aside-gizli-kutu-body div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aside-gizli-kutu-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-gizli-kutu-body ul h2 {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.aside-gizli-kutu-body li {
    padding-left: 10px;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
    display: none;
}

.blur.active {
    display: block;
}



.breadcrump {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.breadcrump i {
    color: black;
    font-size: 16px;
    cursor: pointer;
}


.breadcrump a {
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.breadcrump a:hover {
    text-decoration: underline;
}



article {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtre {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-main {
    width: 75%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.kategori {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.kategori-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    background: none;
    border: none;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.kategori-button:hover {
    background-color: rgb(230, 230, 230);
}

.kategori-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.kategori-div h2 {
    margin: 0;
    font-size: 16px;
}

.kategori-div a {
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-size: 16px;
    margin-left: 15px;
}

.marka {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-bottom: 10px;
}

.filtre-div-button-ac-kapa {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    background: none;
    border: none;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 10px 0;
}
.filtre-div-button-ac-kapa:hover {
    background-color: rgb(230, 230, 230);
}

.marka-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.marka-search {
    width: 100%;
}

.marka-search input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.checkbox-div label {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: rgba(112, 112, 112, 0.686);
    cursor: pointer;
    align-items: center;
}

.checkbox-div input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.filtre-div.active {
    display: none !important;
}


.icon-kapali {
    display: none !important; 
}
.icon-acik { 
    display: inline; 
}

.filtre-div-button-ac-kapa.active .icon-acik {
    display: none;
}
.filtre-div-button-ac-kapa.active .icon-kapali {
    display: inline !important;
}


.fiyat-araligi {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-bottom: 10px;
}

.fiyat-araligi-div  
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fiyat-araligi-div {
    width: 100%;
    display: flex;
    gap: 10px;
}

.fiyat-araligi-div input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    font-size: 16px;
    padding-top: 20px !important;
}

.fiyat-araligi-input {
    position: relative;
}

.fiyat-araligi-input span {
    top: 2px;
    left: 10px;
    position: absolute;
    color: rgba(128, 128, 128, 0.619);
    font-size: 14px;
}

.article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-header h2 {
    margin: 0;
    font-size: 24px;
    color: rgba(50, 50, 50, 0.854);
}

.article-header-input select {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(189, 189, 189);
}

.article-cart {
    padding: 20px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.article-cart:hover {
    box-shadow: 0px 0px 5px rgba(75, 75, 75, 0.192);
}

.article-cart-header {
    display: flex;
    width: 100%;
}

.article-cart-header span {
    font-size: 10px;
    font-weight: bold;
    padding: 5px 7px;
    border: 1px solid rgb(255, 21, 0);
    color: black;
    border-radius: 20px;
}

.article-cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-cart-footer div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.article-cart-footer-sol  {
    cursor: pointer;
}

.article-cart-footer-sol:hover button {
    border: 2px solid black;
}

.article-cart-footer-sol:hover p {
    color: black;
}

.article-cart-footer-sol button {
    padding: 8px;
    background: none;
    border-radius: 5px;
    border: 2px solid rgba(102, 102, 102, 0.646);
}

.article-cart-footer-sol p  {
    font-size: 16px;
    color: rgb(102, 102, 102);
}

.article-cart-footer-sag .sepet-ekle {
    padding: 10px 20px;
    color: white;
    background: black;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.article-cart-footer-sag .sepet-ekle:hover {
    background-color: rgb(50, 50, 50);
}

.article-cart-footer-sag .begeni {
    padding: 10px 12px;
    background: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 18px;
    color: black;
}

.article-cart-footer-sag .begeni:hover {
    background-color: rgba(109, 109, 109, 0.176);
}

.yildizlar {
    display: flex;
    gap: 5px;
    font-size: 12px;
}

.yildizlar i {
    color: rgb(216, 29, 29);
}

.article-main h2 {
    margin: 0;
    font-size: 15px;
}

.article-urun-telefon-h2 {
    display: none;
}

.article-cart-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-urun {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.article-urun img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.article-urun-bilgi {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    width: 100%;
}

.article-urun-bilgi span {
    margin-bottom: 10px;
    font-weight: bold;
}


.article-urun-document {
    display: flex;
    flex-direction: column !important;
    gap: 30px;
    width: 100%;
}

.article-fiyat p {
    font-size: 24px;
    font-weight: bold;
}

.article-fiyat a {
    font-size: 12px;
    color: rgb(74, 74, 74);
}

.article-fiyat a:hover {
    text-decoration: none;
}

.article-urun-document .yesil {
    display: flex;
    gap: 5px;
    color: green;
}

.article-urun-document .yesil p {
    margin-bottom: 10px;
}

.article-urun-document .kirmizi {
    display: flex;
    gap: 5px;
}

.article-urun-document .kirmizi i {
    color: red;
}

.urun-telefon-gozuksun {
    display: none;
}

.article-son-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.article-son-div button {
    padding: 10px 20px;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background: none;
    font-size: 16px;
    font-weight: bold;
}

.article-son-div button:hover {
    background-color: rgb(230, 230, 230);
}

.article-son-div p {
    font-size: 14px;
    color: rgb(112, 112, 112);
}

.dikkat-metni {
    background: rgba(226, 226, 226, 0.281);
    padding: 60px 0;
}

.makale-icerik {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.makale-icerik h2 {
    font-size: 22px;
    margin: 0;
    color: rgba(0, 0, 0, 0.687);
}

.makale-icerik p {
    color: rgba(0, 0, 0, 0.568);
}



.footer-bottom {
    background: rgb(72, 72, 72);
}

.footer-bottom-端st {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 0 !important;
}

.footer-bottom-端st button {
    border-color: white !important;
    color: white !important;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.footer-bottom-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.footer-bottom-main p {
    color: white;
}

.footer-bottom-main img {
    width: 50px;
}

footer {
    background: rgb(197, 197, 197);
}

.footer {
    padding: 20px;
}

.footer a {
    color: black;
}

.footer-img {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.footer-img img {
    height: 80px;
}

.footer-iletisim {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.footer-iletisim h2 {
    margin: 0;
}

.footer-iletisim-cart {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-iletisim i {
    font-size: 22px;
    cursor: pointer;
}

.footer-iletisim-cart p {
    font-size: 16px;
}

.footer-iletisim-cart a {
    font-size: 12px;
    white-space: nowrap;
}

.footer-iletisim-cart a:hover {
    text-decoration: none;
}

.footer-media {
    display: flex;
    gap: 10px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
}

.footer-column h2 {
    margin: 0;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-column a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: flex;
}

.footer-column a:hover {
    text-decoration: underline;

}

.footer-端st {
    margin-top: 30px;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}


.footer-alt {
    display: block;
    margin-bottom: 30px;
}

.footer-odeme {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-odeme div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-odeme div img {
    width: 50px;
    height: auto;
    cursor: pointer;
}


@media (max-width: 1700px) {
    .header-navlar a {
        font-size: 14px;
    }
}

@media (max-width: 1350px) {
    .header-nav {
        gap: 10px;
    }
    .header-navlar a {
        font-size: 12px;
        font-weight: bold;
    }
}

@media (max-width: 1200px) {
    .aside-gizli-kutu {
        display: none;
    }
    .header-alt {
        display: none;
    }
    .magzalarimiz-button {
        display: none;
    }
    .mobil-menu-button {
        display: block;
    }

    .article-urun-bilgi {
        display: none;
    }

    .article-cart-main {
        align-items: flex-start !important;
    }

    .article-urun-telefon-h2 {
        display: flex;
    }

    .article-urun-pc-h2 {
        display: none;
    }
    

    .filtre {
        display: none;
    }

    .article-main {
        width: 100%;
        padding-left: 0;
    }

    .header-ust {
        gap: 30px;
    }

    .footer-端st {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}



@media (max-width: 768px) {
    .urun-telefon-sil {
        display: none;
    }
    .urun-telefon-gozuksun {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .urun-telefon-gozuksun h2 {
        font-size: 14px;
    }
    .article-urun-telefon-h2 {
        display: none;
    }

    .sepet-ekle span {
        display: none;
    }
    .sepet-ekle {
        padding: 14px 30px !important;
    }
    .article-cart-footer-sag {
        align-items: flex-start !important;
    }

    .aside {
        max-width: 100%;
        padding-right: 20px;
    }
    .aside-header {
        padding-right: 50px;
    }

    .container {
        max-width: 95%;
        margin: auto;
    }

    .header-input {
        display: none;
    }
    .header-ust {
        justify-content: space-between;
    }
    .mobil-header-input {
        display: block;
        width: 90%;
        margin: auto;
    }
    .header-logo {
        display: none;
    }
    .header-mobil-logo {
        display: block;
    }
    .header-mobil-logo-div {
        display: flex;
    }

}


